/* Add your custom extension styling here */
.searchEntry {
    width: 250px;
    height: 20px !important;
    border-radius: 50px;
    text-wrap: wrap;
    z-index: 1000;
}
.app-item {
    height: 50px;
    z-index: 1000;
    position: relative; /* Para garantir que o container fixo fique acima */
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    z-index: 1;
    position: relative;
}
.menu-box {
    color: aliceblue;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    max-height: 750px;
}
.menu-box::selection {
    color: black;
}
.response-chat {
    color: rgb(243, 232, 212);
    text-wrap: wrap;
    text-align: justify;
    word-wrap: break-word;
    z-index: 1;
}
.response-chat::selection {
    color: rgb(24, 24, 24);
}
.input-chat {
    color: rgb(243, 232, 212);
    text-wrap: wrap;
    text-align: justify;
    word-wrap: break-word;
    z-index: 1;
}
.input-chat::selection {
    color: rgb(24, 24, 24);
}
.chat-scroll-section {
    overflow-y: hidden;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 750px;
}
.chat-scroll-section::selection {
    color: black;
}
.chat-section {
    color: rgb(243, 232, 212);
    text-wrap: wrap;
    word-wrap: break-word;
}
.chat-section::selection {
    color: black;
}
.google-gemini-icon {
    background-image: url('assets/icon_gemini.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    padding: 0px;
}
.copy-icon {
    background-image: url('assets/icon_copy.png');
    background-size: 26px;
    width: 24px;
    height: 24px;
}
.copy-icon:hover {
    background-image: url('assets/icon_copy.png');
}
.copy-icon:active {
    background-image: url('assets/icon_check.png');
}
.copy-icon-checked {
    background-image: url('assets/icon_check.png');
    background-size: 26px;
    width: 24px;
    height: 24px;
}
.copy-icon-checked:hover {
    background-image: url('assets/icon_check.png');
}
.copy-icon-checked:active {
    background-image: url('assets/icon_check.png');
}
.mic-icon {
    background-image: url('assets/icon_mic.png');
    background-size: 26px;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 150px;
}
.mic-icon:hover {
    background-color: rgb(42, 42, 42);
}
.mic-icon:checked {
    border: 1px solid rgb(226, 0, 0);
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.trash-icon {
    background-image: url('assets/icon_trash.png');
    background-size: 20px;
    width: 22px;
    height: 22px;
}
.trash-icon:hover {
    background-color: rgb(42, 42, 42);
    border-radius: 150px;
}
.trash-icon:active {
    background-size: 18px;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}
.settings-icon {
    background-image: url('assets/icon_settings.png');
    background-size: 20px;
    width: 22px;
    height: 22px;
}
.settings-icon:hover {
    background-color: rgb(42, 42, 42);
    border-radius: 150px;
}
.settings-icon:active {
    background-size: 18px;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}
.inputLabel {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 30px;
}
.inputEntry {
    color: black;
    padding-right: 10px;
    padding-bottom: 30px;
}
.howToButton {
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}
.saveButton {
    color: black;
    font-weight: bold;
    padding: 30px;
}
.statusLabel {
    color: black;
    font-weight: bold;
    padding: 10px;
}
.switch {
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
