.app {
    color: aliceblue;
    background-color: rgba(42, 42, 42, 0.757);
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}
.app-items {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0px;
}
.search-entry {
    width: 250px;
    min-height: 30px;
    border-radius: 10px;
}
.status-icon {
    font-size: 20px;
    color: black;
    text-align: center;
    width: 40px;
    margin-top: 22px;
    margin-bottom: 15px;
    padding-left: 5px;
}
.status-icon:hover {
    background-color: transparent;
}
.status-icon:active {
    font-size: 18px;
}
.enter-icon {
    background-image: url('assets/icon_enter.png');
    background-size: 32px;
    text-align: center;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 12px;
}
.enter-icon:hover {
    background-color: rgb(54, 54, 54);
}
.enter-icon:active {
    background-size: 30px;
}
.mic-icon {
    background-image: url('assets/icon_mic.png');
    background-size: 32px;
    text-align: center;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 12px;
}
.mic-icon:hover {
    background-color: rgb(54, 54, 54);
}
.mic-icon:checked {
    background-image: url('assets/icon_mic_rec.png');
}
.mic-icon:active {
    background-size: 30px;
}
.trash-icon {
    /* background-image: url('assets/icon_trash.png');
    background-size: 20px; */
    font-size: 20px;
    text-align: center;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 12px;
}
.trash-icon:hover {
    background-color: rgb(54, 54, 54);
}
.trash-icon:active {
    font-size: 18px;
}
.settings-icon {
    /* background-image: url('assets/icon_settings.png');
    background-size: 20px; */
    font-size: 20px;
    text-align: center;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 12px;
    margin-right: 5px;
}
.settings-icon:hover {
    background-color: rgb(54, 54, 54);
}
.settings-icon:active {
    font-size: 18px;
}
.appearance-icon {
    /* background-image: url('assets/icon_settings.png');
    background-size: 20px; */
    font-size: 20px;
    text-align: center;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 12px;
    margin-right: 5px;
}
.appearance-icon:hover {
    background-color: rgb(54, 54, 54);
}
.appearance-icon:active {
    font-size: 18px;
}
.appearance-box {
    width: 300px;
    height: 30px;
    background-color: rgba(42, 42, 42, 0.857);
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
}
.chat-scroll {
    max-width: 800px;
    max-height: 550px;
    overflow: auto;
    padding-top: 10px;
}
.chat-scroll::selection {
    background-color: rgb(42, 42, 42);
}
.chat-section {
    overflow-y: auto;
    color: rgb(243, 232, 212);
    text-wrap: wrap;
    word-wrap: break-word;
}
.chat-section::selection {
    background-color: rgb(42, 42, 42);
}
.response-chat {
    color: rgb(243, 232, 212);
    background-color: rgb(42, 42, 42);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-wrap: wrap;
    text-align: justify;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
}
.response-chat:hover {
    background-color: rgb(42, 42, 42);
}
.response-chat::selection {
    background-color: rgb(42, 42, 42);
}
.input-chat {
    color: rgb(243, 232, 212);
    text-wrap: wrap;
    text-align: justify;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.input-chat::selection {
    background-color: rgb(42, 42, 42);
}
.input-chat::selection {
    background-color: rgb(42, 42, 42);
}
.google-assistant-icon {
    background-image: url('assets/icon_aiva_assistant.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    padding: 0px;
}
.copy-icon {
    background-image: url('assets/icon_copy.png');
    background-size: 26px;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.copy-icon:hover {
    background-image: url('assets/icon_copy.png');
}
.copy-icon:active {
    background-image: url('assets/icon_check.png');
}
.copy-icon-checked {
    background-image: url('assets/icon_check.png');
    background-size: 26px;
    width: 24px;
    height: 24px;
}
.copy-icon-checked:hover {
    background-image: url('assets/icon_check.png');
}
.copy-icon-checked:active {
    background-image: url('assets/icon_check.png');
}
.inputLabel {
    color: black;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 30px;
}
.inputEntry {
    color: black;
    padding-right: 10px;
    padding-bottom: 30px;
}
.howToButton {
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}
.saveButton {
    color: black;
    font-weight: bold;
    padding: 30px;
}
.statusLabel {
    color: black;
    font-weight: bold;
    padding: 10px;
}
.switch {
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.selected-text {
    color: rgb(221, 13, 13);
    font-weight: bold;
}
.link-button {
    text-decoration: none;
    color: grey;
}
.code {
    color: blue;
}
.label-button {
    background-color: transparent;
    color: blanchedalmond;
    font-weight: bold;
}
.label-button:hover {
    background-color: transparent;
}
.small-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}
.label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.settingsTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
